In [65]:
import pandas as pd
import os

import warnings
warnings.filterwarnings("ignore")

In [128]:
# Checking for available files in the folder

In [66]:
dirc = 'data'
os.listdir(dirc)

['bollywood_full_1950-2019.csv', 'MovieGenre.csv', 'Top_10000_Movies.csv']

In [67]:
df = pd.read_csv('data/MovieGenre.csv', encoding='latin-1')

,imdbId,Imdb Link,Title,IMDB Score,Genre,Poster
10164,437407,http://www.imdb.com/title/tt437407,Parineeta (2005),7.3,Drama|Musical|Romance,https://images-na.ssl-images-amazon.com/images...

In [ ]:
df.sample()

In [68]:
df.shape

(40108, 6)

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40108 entries, 0 to 40107
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   imdbId      40108 non-null  int64
 1   Imdb Link   40108 non-null  object
 2   Title       40108 non-null  object
 3   IMDB Score  40060 non-null  float64
 4   Genre       39963 non-null  object
 5   Poster      39383 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 1.8+ MB

### DATA CLEANING :

In [70]:
df.duplicated().sum()

593

In [71]:
df.drop_duplicates(inplace=True)

In [72]:
df.isnull().sum()

imdbId          0
Imdb Link       0
Title           0
IMDB Score     48
Genre         145
Poster        724
dtype: int64

In [73]:
df.dropna(inplace=True)

In [74]:
df.shape

(38654, 6)

In [75]:
pop = df[df["IMDB Score"] > 7]

In [76]:
df.loc[0,"Poster"]

'https://images-na.ssl-images-amazon.com/images/M/MV5BMDU2ZWJlMjktMTRhMy00ZTA5LWEzNDgtYmNmZTEwZTViZWJkXkEyXkFqcGdeQXVyNDQ2OTk4MzI@._V1_UX182_CR0,0,182,268_AL_.jpg'

In [77]:
pop.shape

(12345, 6)

In [78]:
pop.head(1)

,imdbId,Imdb Link,Title,IMDB Score,Genre,Poster
0,114709,http://www.imdb.com/title/tt114709,Toy Story (1995),8.3,Animation|Adventure|Comedy,https://images-na.ssl-images-amazon.com/images...

In [79]:
pop["year"] = pop["Title"].apply(lambda x: x[-5:-1])
pop.head(1)

,imdbId,Imdb Link,Title,IMDB Score,Genre,Poster,year
0,114709,http://www.imdb.com/title/tt114709,Toy Story (1995),8.3,Animation|Adventure|Comedy,https://images-na.ssl-images-amazon.com/images...,1995

In [80]:
for i in pop["year"]:
    if not str(i).isdigit():
        pop.drop(index = pop[pop["year"]==i].index[0], inplace=True)
pop.shape

(11987, 7)

In [81]:
pop.reset_index(drop=True, inplace=True)

In [82]:
pd.to_numeric(pop["year"])

0        1995
1        1995
2        1995
3        1995
4        1995
         ...
11982    2016
11983    2009
11984    1967
11985    2014
11986    2015
Name: year, Length: 11987, dtype: int64

In [83]:
max(pop["year"])

'2017'

In [84]:
l = []
def year(df) : 
    try : 
        if int(df['year']) > 1999 : 
            l.append(df.name)
    except : 
        pass

In [85]:
pop.apply(year, axis=1)

0        None
1        None
2        None
3        None
4        None
         ...
11982    None
11983    None
11984    None
11985    None
11986    None
Length: 11987, dtype: object

In [86]:
movies = pop.iloc[l,:]

In [87]:
movies.shape

(5431, 7)

In [88]:
movies.reset_index(inplace=True)

In [89]:
movies.sample()

,index,imdbId,Imdb Link,Title,IMDB Score,Genre,Poster,year
61,1455,221073,http://www.imdb.com/title/tt221073,Chopper (2000),7.2,Biography|Crime|Drama,https://images-na.ssl-images-amazon.com/images...,2000

In [90]:
movies.drop(columns=["index", "imdbId", "Imdb Link", "IMDB Score"], inplace=True)
movies.sample()

,Title,Genre,Poster,year
3687,The Amazing Screw-On Head (2006),Animation|Short|Action,https://images-na.ssl-images-amazon.com/images...,2006

In [91]:
movies.isnull().sum()

Title     0
Genre     0
Poster    0
year      0
dtype: int64

In [92]:
movies["Genre"] = movies["Genre"].apply(lambda row: str(row).split("|"))
movies.sample()

,Title,Genre,Poster,year
2165,War Horse (2011),"[Drama, War]",https://images-na.ssl-images-amazon.com/images...,2011

In [93]:
movies["tags"] = movies["Title"].apply(lambda x: str(x)[:-6].split())

In [94]:
movies["tags"] = movies["tags"] + movies["Genre"]
movies["tags"] = movies["tags"].apply(lambda x: (" ".join(x)).lower())

In [95]:
movies.sample()

,Title,Genre,Poster,year,tags
312,Revolution OS (2001),"[Documentary, Comedy]",https://images-na.ssl-images-amazon.com/images...,2001,revolution os documentary comedy

In [96]:
from pickle import load
bolly = load(open("movie_info.pkl","rb"))

In [97]:
bolly = pd.DataFrame(bolly)
bolly.sample()

,poster_path,original_title,year_of_release,genres,imdb_rating,imdb_votes,summary,tags
1572,https://upload.wikimedia.org/wikipedia/en/thum...,Yaadein...,2001,"[Drama, Musical, Romance]",4.4,3034.0,"[Raj, Singh, Puri, is, best, friends, with, L....",drama music romanc raj singh puri is best frie...

In [98]:
movies.sample()

,Title,Genre,Poster,year,tags
1512,Ai no mukidashi (2008),"[Action, Comedy, Drama]",https://images-na.ssl-images-amazon.com/images...,2008,ai no mukidashi action comedy drama

In [99]:
bolly.rename(columns={"poster_path" : "Poster", "original_title" : "Title", 
                "year_of_release" : "year", "genres" : "Genre"}, inplace=True)

bolly.sample()

,Poster,Title,year,Genre,imdb_rating,imdb_votes,summary,tags
1490,https://upload.wikimedia.org/wikipedia/commons...,Kaante,2002,"[Action, Crime, Drama]",6.6,4267.0,"[Six, bank, robbers, trying, to, pull, off, th...",action crime drama on or about 12may00 a truck...

In [100]:
bolly.shape 
bolly.reset_index(inplace=True)
movies.reset_index(inplace=True)

In [101]:
new = pd.concat([bolly, movies]).drop(columns=["imdb_rating","imdb_votes","summary"])

In [102]:
new.reset_index(inplace=True)

In [103]:
movies.shape

(5431, 6)

In [104]:
new.isnull().sum()

level_0    0
index      0
Poster     0
Title      0
year       0
Genre      0
tags       0
dtype: int64

In [105]:
new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7118 entries, 0 to 7117
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   level_0  7118 non-null   int64
 1   index    7118 non-null   int64
 2   Poster   7118 non-null   object
 3   Title    7118 non-null   object
 4   year     7118 non-null   object
 5   Genre    7118 non-null   object
 6   tags     7118 non-null   object
dtypes: int64(2), object(5)
memory usage: 389.4+ KB

In [106]:
new["year"] = pd.to_numeric(new["year"])

In [107]:
new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7118 entries, 0 to 7117
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   level_0  7118 non-null   int64
 1   index    7118 non-null   int64
 2   Poster   7118 non-null   object
 3   Title    7118 non-null   object
 4   year     7118 non-null   int64
 5   Genre    7118 non-null   object
 6   tags     7118 non-null   object
dtypes: int64(3), object(4)
memory usage: 389.4+ KB

### ENCODING :

In [108]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [109]:
vectors = cv.fit_transform(new["tags"]).toarray()

In [110]:
vectors.shape

(7118, 5000)

In [111]:
most_common_words = cv.get_feature_names_out()

In [112]:
cs = pd.DataFrame(vectors, columns=most_common_words)
# cs.to_csv("data\common_words.csv")
cs

,000,10,100,10th,11,11th,12,13,13th,14,...,zero,zinda,zindagi,zinta,zone,zooni,zoya,zubeida,zulfi,ìê
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7113,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7114,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7115,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7116,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7117,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#### RECOMMENDATION ON THE BASIS OF DISTANCE BETWEEN VECTORS :

In [113]:
from sklearn.metrics.pairwise import cosine_similarity

In [114]:
similarity = cosine_similarity(vectors)

In [115]:
def recommended_movies(mov):
    idx = new[new["Title"] == mov].index[0]
    corr = similarity[idx]
    rec = sorted(list(enumerate(corr)), reverse=True, key=lambda x: x[1])[1:6]

    for i in rec:
        print(new.iloc[i[0]].Title)

In [116]:
recommended_movies("Armadillo (2010)")

Melancholian 3 huonetta (2004)
The War on Democracy (2007)
My First War (2008)
Shooting War (2000)
Armadillo (2010)

In [117]:
from pickle import dump,load

In [118]:
# dump(new, open("hollywood.pkl", 'wb'))

In [119]:
# dump(similarity, open("sim_hollywood.pkl", 'wb'))

In [120]:
data2 = load(open("hollywood.pkl", 'rb'))
holly = pd.DataFrame(data2)

In [121]:
holly.sample()

,level_0,index,Poster,Title,year,Genre,tags
551,551,551,https://upload.wikimedia.org/wikipedia/en/thum...,ROAR: Tigers of the Sundarbans,2014,"[Action, Adventure, Sci-Fi]",action adventur sci-fi after hi photojournalis...

In [122]:
holly.shape

(7118, 7)

In [123]:
holly.sample()

,level_0,index,Poster,Title,year,Genre,tags
4913,3226,3226,http://ia.media-imdb.com/images/G/01/imdb/imag...,Slow Southern Steel (2010),2010,"[Documentary, History, Music]",slow southern steel documentary history music

In [124]:
holly[holly["Title"] == "Uri: The Surgical Strike"].index

Int64Index([0], dtype='int64')

In [125]:
idx = holly[holly["Title"] == "Avatar (2009)"].index[0]
p = holly.iloc[idx].Poster
l = holly.iloc[idx].Title
c = " ".join([holly.iloc[idx].Genre][0])
y = holly.iloc[idx].year
s = " "
l,p,c,y,s,idx

('Avatar (2009)',
 'https://images-na.ssl-images-amazon.com/images/M/MV5BMTYwOTEwNjAzMl5BMl5BanBnXkFtZTcwODc5MTUwMw@@._V1_UX182_CR0,0,182,268_AL_.jpg',
 'Action Adventure Fantasy',
 2009,
 ' ',
 3235)

In [126]:
holly[holly["Title"] == "Uri: The Surgical Strike"]

,level_0,index,Poster,Title,year,Genre,tags
0,0,0,https://upload.wikimedia.org/wikipedia/en/thum...,Uri: The Surgical Strike,2019,"[Action, Drama, War]",action drama war divid over five chapter the f...

In [127]:
holly.iloc[1548]

level_0                                                 1548
index                                                   1548
Poster     https://upload.wikimedia.org/wikipedia/en/thum...
Title                                                 Pyaasa
year                                                    2002
Genre                                                [Drama]
tags       drama suraj thakur (aftab shivdasani) is one o...
Name: 1548, dtype: object